.titleServices {
    background-color: yellow;
}

.containerServices {
    background-color: red;
    
    .bloc1{
        background-color: green;

        .cardService1 {
            background-color: royalblue;
        }
    }
    .bloc2 {
        background-color: green;

        .cardService2 {
            background-color: blue;
        }

        .cardService3 {
            background-color: rgb(19, 19, 105);
        }
    }
}